@font-face { font-display: swap; font-family: 'my Adobe NotDef';         src: url('./fonts/AND-Regular.ttf');          }
@font-face { font-display: swap; font-family: 'my KaiTi';                src: url('./fonts/SIMKAI.TTF');               }
@font-face { font-display: swap; font-family: 'my DFKai-SB';             src: url('./fonts/DFKaiShu-SB-Estd-BF.ttf');  }
@font-face { font-display: swap; font-family: 'my UD Digi Kyokasho N-R'; src: url('./fonts/UDDigiKyokashoN-R-01.ttf'); }
@font-face { font-display: swap; font-family: 'my EPSON 教科書体Ｍ';      src: url('./fonts/epkyouka-transfonter.ttf'); }

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }
}

body {
    min-width: 350px;
}

#opts {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 350px;
    width: 100%;
    height: 150px;
    background: #222;
    border: 1px solid #666;
}

#opts label {
    display: inline-block;
    padding: 4px 8px;
}

#fontsizepar {
    text-align: center;
}

#fontsize {
    width: 50%;
    min-width: 300px;
}

#txt {
    position: relative;
    top: 180px;
}

.txtline {
    box-sizing: border-box;
    background: inherit;
    color: inherit;
    min-width: 100%;
    max-width: 100%;

    border: solid 1px #666;
    min-height: 1.7em;
    height: 1.7em;

    overflow-y: scroll;
}
