@font-face { font-family: 'my Adobe NotDef'; src: url('./fonts/AND-Regular.ttf'); }
@font-face { font-family: 'my KaiTi'; src: url('./fonts/SIMKAI.TTF'); }
@font-face { font-family: 'my DFKai-SB'; src: url('./fonts/DFKaiShu-SB-Estd-BF.ttf'); }
@font-face { font-family: 'my UD Digi Kyokasho N-R'; src: url('./fonts/UDDigiKyokashoN-R-01.ttf'); }
@font-face { font-family: 'my EPSON 教科書体Ｍ'; src: url('./fonts/epkyouka-transfonter.ttf'); }

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }
}

#txt>label {
    display: block;
    margin-top: 1em;
}
#txt>label * {
    vertical-align: middle;
}

.langlabel {
    display: inline-block;
    width: 4em;
    font-size: 150%;
}

.txtline {
    box-sizing: border-box;
    background: inherit;
    color: inherit;
    font-size: 36pt;
    width: 100%;
    height: 1.7em;
}

.syssans   [lang]         { font-family: sans-serif,                "my Adobe NotDef"; }
.sysserif  [lang]         { font-family: serif,                     "my Adobe NotDef"; }

           [lang=zh-hans] { font-family: "my KaiTi",                "my Adobe NotDef"; }
.notosans  [lang=zh-hans] { font-family: "Noto Sans SC",            "my Adobe NotDef"; }
.notoserif [lang=zh-hans] { font-family: "Noto Serif SC",           "my Adobe NotDef"; }

           [lang=zh-hant] { font-family: "my DFKai-SB",             "my Adobe NotDef"; }
.notosans  [lang=zh-hant] { font-family: "Noto Sans TC",            "my Adobe NotDef"; }
.notoserif [lang=zh-hant] { font-family: "Noto Serif TC",           "my Adobe NotDef"; }

           [lang=ja]      { font-family: "my EPSON 教科書体Ｍ",      "my Adobe NotDef"; }
.workbook  [lang=ja]      { font-family: "my UD Digi Kyokasho N-R", "my Adobe NotDef"; }
.notosans  [lang=ja]      { font-family: "Noto Sans JP",            "my Adobe NotDef"; }
.notoserif [lang=ja]      { font-family: "Noto Serif JP",           "my Adobe NotDef"; }
