@font-face { font-display: swap; font-family: 'my Adobe NotDef';         src: url('./fonts/AND-Regular.ttf');          }
@font-face { font-display: swap; font-family: 'my KaiTi';                src: url('./fonts/SIMKAI.TTF');               }
@font-face { font-display: swap; font-family: 'my DFKai-SB';             src: url('./fonts/DFKaiShu-SB-Estd-BF.ttf');  }
@font-face { font-display: swap; font-family: 'my UD Digi Kyokasho N-R'; src: url('./fonts/UDDigiKyokashoN-R-01.ttf'); }
@font-face { font-display: swap; font-family: 'my EPSON 教科書体Ｍ';      src: url('./fonts/epkyouka-transfonter.ttf'); }

:root {
    --bg: #fff;
    --bggray: #ddd;
    --fg: #000;
    --line: #aaa;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111;
        --bggray: #333;
        --fg: #fff;
        --line: #666;
    }
}

body {
    background: var(--bg);
    color: var(--fg);
}

body {
    margin: 0;
    min-width: 350px;
}

#settings {
    position: sticky;
    top: 0;
    min-width: 340px;
    width: 100%;
    background: var(--bggray);
    border-bottom: 1px solid var(--line);
}

#opts > td {
    text-align: center;
    border-color: var(--line);
    border-style: solid;
    border-width: 0 thin;
}

#opts label {
    display: inline-block;
    padding: 4px 8px;
}

#fontsizepar {
    text-align: center;
}

#fontsize {
    width: 50%;
    min-width: 300px;
}

#textin {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;

    font-size: 100%;
    background: var(--bg);
    color: inherit;
}

.txtkey {
    font-size: 12pt;
    background: var(--bggray);
    margin: 0;
    padding: 1px 5px;
}

.txtline {
    box-sizing: border-box;
    padding: 0 5px;
    min-width: 100%;
    max-width: 100%;

    color: inherit;

    white-space: pre-wrap;
    min-height: 12pt;
}
